<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cust">

	<select id="select" parameterType="String" resultType="cust">
		SELECT * FROM cust WHERE id=#{id}
	</select>
	<select id="selectall" resultType="cust">
		SELECT * FROM cust
	</select>
	<insert id="insert" parameterType="cust">
		INSERT INTO cust VALUES (#{id},#{pwd},#{name})
	</insert>
	<update id="update" parameterType="cust">
		UPDATE cust SET PWD=#{pwd},NAME=#{name} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM cust WHERE ID=#{id}
	</delete>
	
</mapper>






